.docs {
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
    padding-top: 2rem;
    padding-bottom: 1rem;
    
}

#title.sc__lead .sc__lead-mid {
  /*width: 1920px;*/
  /*display: block;*/
}

.navbar-header h3 a {
  /*width: 1920px;*/
  color: #fff;
}

.sidebar-toggle {
    width: 30px;
    float: right;
    cursor: pointer; 
}
      
.sidebar-toggle .line {
    background: #fff;
    width: 100%;
    height: 3px;
    margin-bottom: 6px;
    border-radius: 1px; 
}

.accordion .panel-title {
    margin: 0;
    padding: .75em;
    -webkit-transition: .3s all ease-in-out;
     -moz-transition: .3s all ease-in-out;
       -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    background: #EFEFEF;
    color: #333333;
}
.accordion .panel-title:hover {
    background: #CCC;
}
.accordion .panel-title:active,
.accordion .panel-title.active:active {
    background: #999;
    outline: none
}
.accordion .panel-title.active {
    background: #CCC;
}
.accordion .accordion-innerwrap {
    margin: 0 auto;
    width: 100%;
}

.accordion .panel-title .icon,
.accordion .panel-title.active .icon {
    font-size: 1.25em;
}

.panel-container {
    margin: .75em 0;
}

.panel-content {
    list-style-type: none;
    margin: 0;
    padding: 1em .75em !important;
    background: #9da7ab;
    border-top: 1px solid #8f9aa0;
    border-bottom: 1px solid #8f9aa0;
}
.panel-content li {
    padding: .5em 0;
}
.panel-content li a {
	    color: rgba(255,255,255, 0.8);
        font-size: 1rem;
}
.panel-content li a:hover {
    color: #fff;
}
.panel-content li:last-child {
    border-bottom: none;
    padding-bottom: none;
}

.js .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.js .visuallyhidden.focusable,
.js .visuallyhidden.focusable,
.no-js .visuallyhidden {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.js .visuallyhidden.focusable:active,
.js .visuallyhidden.focusable:focus,
.no-js .visuallyhidden {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.list-reset {
    padding: 0;
    list-style: none;
}
#trigger1, #trigger2, #trigger3, #trigger4 {
	outline: none
}